In [2]:
import pandas as pd
import pyspark as ps
from pyspark.sql import SparkSession
import matplotlib as mp
from pyspark.sql.functions import *
import os
from time import sleep
import re

In [3]:
# Creating Spark Session
spark = SparkSession.builder.appName('SBA 350').getOrCreate()
# Reading /loading the Dataset from JSON file, SPARK by defualt infersSchema for JSON files; only need headers parameter typically for csv files
customer_spark = spark.read.load("cdw_sapp_customer.json", format="json")

In [4]:
branch_spark = spark.read.load("cdw_sapp_branch.json", format= "json")
credit_spark = spark.read.load("cdw_sapp_credit.json", format= "json")

In [17]:
# credit_spark.show()
credit_spark.dtypes
# [('BRANCH_CODE', 'bigint'),
#  ('CREDIT_CARD_NO', 'string'),
#  ('CUST_SSN', 'bigint'),
#  ('DAY', 'bigint'),
#  ('MONTH', 'bigint'),
#  ('TRANSACTION_ID', 'bigint'),
#  ('TRANSACTION_TYPE', 'string'),
#  ('TRANSACTION_VALUE', 'double'),
#  ('YEAR', 'bigint')]

[('BRANCH_CODE', 'bigint'),
 ('CREDIT_CARD_NO', 'string'),
 ('CUST_SSN', 'bigint'),
 ('DAY', 'bigint'),
 ('MONTH', 'bigint'),
 ('TRANSACTION_ID', 'bigint'),
 ('TRANSACTION_TYPE', 'string'),
 ('TRANSACTION_VALUE', 'double'),
 ('YEAR', 'bigint')]

In [16]:
# branch_spark.show()
branch_spark.dtypes
# [('BRANCH_CITY', 'string'),
#  ('BRANCH_CODE', 'bigint'),
#  ('BRANCH_NAME', 'string'),
#  ('BRANCH_PHONE', 'string'),
#  ('BRANCH_STATE', 'string'),
#  ('BRANCH_STREET', 'string'),
#  ('BRANCH_ZIP', 'bigint'),
#  ('LAST_UPDATED', 'string')]

[('BRANCH_CITY', 'string'),
 ('BRANCH_CODE', 'bigint'),
 ('BRANCH_NAME', 'string'),
 ('BRANCH_PHONE', 'string'),
 ('BRANCH_STATE', 'string'),
 ('BRANCH_STREET', 'string'),
 ('BRANCH_ZIP', 'bigint'),
 ('LAST_UPDATED', 'string')]

In [15]:
# customer_spark.show()
# customer_spark.dtypes
#[('APT_NO', 'string'),
#  ('CREDIT_CARD_NO', 'string'),
#  ('CUST_CITY', 'string'),
#  ('CUST_COUNTRY', 'string'),
#  ('CUST_EMAIL', 'string'),
#  ('CUST_PHONE', 'bigint'),
#  ('CUST_STATE', 'string'),
#  ('CUST_ZIP', 'string'),
#  ('FIRST_NAME', 'string'),
#  ('LAST_NAME', 'string'),
#  ('LAST_UPDATED', 'string'),
#  ('MIDDLE_NAME', 'string'),
#  ('SSN', 'bigint'),
#  ('STREET_NAME', 'string')]

[('APT_NO', 'string'),
 ('CREDIT_CARD_NO', 'string'),
 ('CUST_CITY', 'string'),
 ('CUST_COUNTRY', 'string'),
 ('CUST_EMAIL', 'string'),
 ('CUST_PHONE', 'bigint'),
 ('CUST_STATE', 'string'),
 ('CUST_ZIP', 'string'),
 ('FIRST_NAME', 'string'),
 ('LAST_NAME', 'string'),
 ('LAST_UPDATED', 'string'),
 ('MIDDLE_NAME', 'string'),
 ('SSN', 'bigint'),
 ('STREET_NAME', 'string')]

In [5]:

# tan_customer = customer_spark['FIRST_NAME', 'MIDDLE_NAME', 'LAST_NAME', 'STREET_NAME','APT_NO', 'CUST_PHONE']
# customer_spark.createOrReplaceTempView('customer')


def tran_cust_title_case(df, column_name):
    return df.withColumn(column_name,initcap(col(column_name)))
def tran_cust_lower_case(df, column_name):
    return df.withColumn(column_name,lower(col(column_name)))
def concat_cust_street_apt(df, col1, col2):
    #concat_ws concatenates multiple string columns 
    return df.withColumn('FULL_STREET_ADDRESS', concat_ws(',', col(col1), col(col2)))
#the cust_phone doesn't have an area code, need to rectify somehow
def tran_phone_num(df, column_name):
    return df.withColumn(column_name, concat(lit('('), 
                                             substring(col(column_name), 1, 3),
                                             lit(')'),
                                             substring(col(column_name), 4, 3),
                                             lit('-'),
                                             substring(col(column_name), 7, 4))
                                             .cast('string'))
#checks if the branches zip is null and defaults it to 99999, and if it isn't it returns the branches zip
def tran_branch_zip(df):
    return df.withColumn('BRANCH_ZIP', when(col('BRANCH_ZIP').isNull(), lit(99999)).otherwise(col('BRANCH_ZIP')))

#match cust state to branch state and slice branch phone 3-5 (last included?) to append to cust phone after 2nd element
#first left join the cust df and the branch df on their respective states like in sql
custJoinbranch = customer_spark.join(branch_spark, customer_spark['CUST_STATE'] == branch_spark['BRANCH_STATE'], 'left')

# Updating the customer phone by appending a sliced portion of the branch phone
customer_fix = custJoinbranch.withColumn('CUST_PHONE', concat(col('CUST_PHONE').substr(1, 2), col('BRANCH_PHONE').substr(3, 3), col('CUST_PHONE').substr(3, 7)))

# concat the day, month, year columns into a TIMEID (YYYYMMDD)
def tran_to_timeid(df, day, month, year):
    # first concat the columns so you can use the to_date function
    #need to lpad the month and day values so not to throw error when parsing to to_date
    #the 2 represents the desired length of the string and the 0 is what we're left-padding with
    date_string = concat(
        col(year),
        lpad(col(month), 2, '0'),
        lpad(col(day), 2, '0'))
    return df.withColumn('TIMEID', to_date(date_string, 'yyyyMMdd'))

In [6]:
#transforming the specified columns, from the mapping document, of the extracted customer df into new df
# tran_cust_spark = customer_spark.transform(tran_cust_title_case, 'FIRST_NAME')\
tran_cust_spark = customer_fix.transform(tran_cust_title_case, 'FIRST_NAME')\
.transform(tran_cust_lower_case, 'MIDDLE_NAME')\
.transform(tran_cust_title_case, 'LAST_NAME')\
.transform(concat_cust_street_apt, 'APT_NO', 'STREET_NAME')\
.drop('STREET_NAME', 'APT_NO')\
.transform(tran_phone_num, 'CUST_PHONE')


customer_spark.show()
tran_cust_spark.show()

+------+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
|APT_NO|  CREDIT_CARD_NO|   CUST_CITY| CUST_COUNTRY|          CUST_EMAIL|CUST_PHONE|CUST_STATE|CUST_ZIP|FIRST_NAME|LAST_NAME|        LAST_UPDATED|MIDDLE_NAME|      SSN|      STREET_NAME|
+------+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
|   656|4210653310061055|     Natchez|United States| AHooper@example.com|   1237818|        MS|   39120|      Alec|   Hooper|2018-04-21T12:49:...|         Wm|123456100|Main Street North|
|   829|4210653310102868|Wethersfield|United States| EHolman@example.com|   1238933|        CT|   06109|      Etta|   Holman|2018-04-21T12:49:...|    Brendan|123453023|    Redwood Drive|
|   683|4210653310116272|     Huntley|United States| WDunham@example.com|   1243018|        IL|   60142|    Wilber|   Dunham|2018-04-21T12:49:...|   Ezequiel|123454487| 12th Street East|
|   253|4210653310195948|   NewBerlin|United States|  EHardy@example.com|   1243215|        WI|   53151|   Eugenio|    Hardy|2018-04-21T12:49:...|      Trina|123459758|Country Club Road|
|   301|4210653310356919|      ElPaso|United States|  WAyers@example.com|   1242074|        TX|   79930|   Wilfred|    Ayers|2018-04-21T12:49:...|        May|123454431|   Madison Street|
|     3|4210653310395982|NorthOlmsted|United States|BWoodard@example.com|   1242570|        OH|   44070|      Beau|  Woodard|2018-04-21T12:49:...|    Ambrose|123454202|   Colonial Drive|
|    84|4210653310400536|      Vienna|United States|   SKemp@example.com|   1239685|        VA|   22180|    Sheila|     Kemp|2018-04-21T12:49:...|      Larry|123451799|   Belmont Avenue|
|   728|4210653310459911|      Duarte|United States| WHurley@example.com|   1238213|        CA|   91010|     Wendy|   Hurley|2018-04-21T12:49:...|        Ora|123453875|     Oxford Court|
|    81|4210653310773972|      Owosso|United States|AGilmore@example.com|   1240689|        MI|   48867|      Alec|  Gilmore|2018-04-21T12:49:...|     Tracie|123457511|    Forest Street|
|   561|4210653310794854|        Zion|United States|    BLau@example.com|   1235222|        IL|   60099|    Barbra|      Lau|2018-04-21T12:49:...|    Mitchel|123457464|     Court Street|
|   622|4210653310817373|  Youngstown|United States|EThomson@example.com|   1241363|        OH|   44512|   Edmundo|  Thomson|2018-04-21T12:49:...|      Denny|123457639|    Cypress Court|
|   924|4210653310844617| Summerville|United States| ETruong@example.com|   1236228|        SC|   29483|      Elsa|   Truong|2018-04-21T12:49:...|   Isabelle|123453242|  8th Street West|
|   611|4210653311015303|      ElPaso|United States|HMckinney@example...|   1238165|        TX|   79930|     Homer| Mckinney|2018-04-21T12:49:...|      Henry|123454339|      East Avenue|
|   680|4210653311215039|      Fenton|United States|   RKidd@example.com|   1234730|        MI|   48430|      Rita|     Kidd|2018-04-21T12:49:...|     Rickey|123454537|         Route 44|
|    71|4210653311229354|  Grandville|United States|ABallard@example.com|   1242113|        MI|   49418|    Amalia|  Ballard|2018-04-21T12:49:...|  Heriberto|123452373|    Warren Street|
|   195|4210653311652836|    YubaCity|United States| PThomas@example.com|   1239888|        CA|   95993|     Patty|   Thomas|2018-04-21T12:49:...|   Angelita|123455343|     Jones Street|
|   500|4210653311707126|   CapeCoral|United States| JMorrow@example.com|   1240158|        FL|   33904|  Josefina|   Morrow|2018-04-21T12:49:...|   Dorothea|123451533|       New Street|
|   989|4210653311730764|  Brookfield|United States|NAndrews@example.com|   1241408|        WI|   53045|    Nelson|  Andrews|2018-04-21T12:49:...|  Jefferson|123459278|  Division Street|
|   810|4210653311898082|    Richmond|United States|MSchneider@exampl...|   1238390|        VA|   23223|    Miquel|Schneider|2018-04-21T12:49:...|     Maximo|123456915|     Maple Street|
|   649|4210653312021765| WestChester|United States|PTidwell@example.com|   1235067|        PA|   19380|    Parker|  Tidwell|2018-04-21T12:49:...|    Arnulfo|123453807|       Eagle Road|
+------+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
only showing top 20 rows

+----------------+------------+-------------+-------------------+-------------+----------+--------+----------+---------+--------------------+-----------+---------+------------+-----------+------------+------------+------------+-----------------+----------+--------------------+--------------------+
|  CREDIT_CARD_NO|   CUST_CITY| CUST_COUNTRY|         CUST_EMAIL|   CUST_PHONE|CUST_STATE|CUST_ZIP|FIRST_NAME|LAST_NAME|        LAST_UPDATED|MIDDLE_NAME|      SSN| BRANCH_CITY|BRANCH_CODE| BRANCH_NAME|BRANCH_PHONE|BRANCH_STATE|    BRANCH_STREET|BRANCH_ZIP|        LAST_UPDATED| FULL_STREET_ADDRESS|
+----------------+------------+-------------+-------------------+-------------+----------+--------+----------+---------+--------------------+-----------+---------+------------+-----------+------------+------------+------------+-----------------+----------+--------------------+--------------------+
|4210653310061055|     Natchez|United States|AHooper@example.com|(123)423-7818|        MS|   39120|      Alec|   Hooper|2018-04-21T12:49:...|         wm|123456100|     Natchez|        158|Example Bank|  1234293585|          MS|  Chestnut Avenue|     39120|2018-04-18T16:51:...|656,Main Street N...|
|4210653310061055|     Natchez|United States|AHooper@example.com|(123)433-7818|        MS|   39120|      Alec|   Hooper|2018-04-21T12:49:...|         wm|123456100|      Oxford|         63|Example Bank|  1234372027|          MS|      York Street|     38655|2018-04-18T16:51:...|656,Main Street N...|
|4210653310061055|     Natchez|United States|AHooper@example.com|(123)483-7818|        MS|   39120|      Alec|   Hooper|2018-04-21T12:49:...|         wm|123456100|  Starkville|         38|Example Bank|  1234810167|          MS|       7th Street|     39759|2018-04-18T16:51:...|656,Main Street N...|
|4210653310102868|Wethersfield|United States|EHolman@example.com|(123)433-8933|        CT|   06109|      Etta|   Holman|2018-04-21T12:49:...|    brendan|123453023|    NewHaven|        180|Example Bank|  1234347181|          CT|    Meadow Street|      6511|2018-04-18T16:51:...|   829,Redwood Drive|
|4210653310102868|Wethersfield|United States|EHolman@example.com|(123)463-8933|        CT|   06109|      Etta|   Holman|2018-04-21T12:49:...|    brendan|123453023|Wethersfield|          9|Example Bank|  1234675219|          CT|  Jefferson Court|      6109|2018-04-18T16:51:...|   829,Redwood Drive|
|4210653310116272|     Huntley|United States|WDunham@example.com|(123)474-3018|        IL|   60142|    Wilber|   Dunham|2018-04-21T12:49:...|   ezequiel|123454487|BuffaloGrove|         89|Example Bank|  1234750836|          IL|    Chapel Street|     60089|2018-04-18T16:51:...|683,12th Street East|
|4210653310116272|     Huntley|United States|WDunham@example.com|(123)414-3018|        IL|   60142|    Wilber|   Dunham|2018-04-21T12:49:...|   ezequiel|123454487|   Mundelein|         78|Example Bank|  1234164452|          IL|    Heather Court|     60060|2018-04-18T16:51:...|683,12th Street East|
|4210653310116272|     Huntley|United States|WDunham@example.com|(123)414-3018|        IL|   60142|    Wilber|   Dunham|2018-04-21T12:49:...|   ezequiel|123454487|     Lombard|         51|Example Bank|  1234132382|          IL|         Route 20|     60148|2018-04-18T16:51:...|683,12th Street East|
|4210653310116272|     Huntley|United States|WDunham@example.com|(123)414-3018|        IL|   60142|    Wilber|   Dunham|2018-04-21T12:49:...|   ezequiel|123454487|    Bartlett|         48|Example Bank|  1234105725|          IL|     Cedar Avenue|     60103|2018-04-18T16:51:...|683,12th Street East|
|4210653310116272|     Huntley|United States|WDunham@example.com|(123)444-3018|        IL|   60142|    Wilber|   Dunham|2018-04-21T12:49:...|   ezequiel|123454487|    Wilmette|         45|Example Bank|  1234453475|          IL|   Bayberry Drive|     60091|2018-04-18T16:51:...|683,12th Street East|
|4210653310116272|     Huntley|United States|WDunham@example.com|(123)464-3018|        IL|   60142|    Wilber|   Dunham|2018-04-21T12:49:...|   ezequiel|123454487|     Huntley|          2|Example Bank|  1234618993|          IL|Washington Street|     60142|2018-04-18T16:51:...|683,12th Street East|
|4210653310195948|   NewBerlin|United States| EHardy@example.com|(123)474-3215|        WI|   53151|   Eugenio|    Hardy|2018-04-21T12:49:...|      trina|123459758|    LaCrosse|         85|Example Bank|  1234785116|          WI|     Brown Street|     54601|2018-04-18T16:51:...|253,Country Club ...|
|4210653310195948|   NewBerlin|United States| EHardy@example.com|(123)424-3215|        WI|   53151|   Eugenio|    Hardy|2018-04-21T12:49:...|      trina|123459758|  Brookfield|         83|Example Bank|  1234242554|          WI|  Creekside Drive|     53045|2018-04-18T16:51:...|253,Country Club ...|
|4210653310195948|   NewBerlin|United States| EHardy@example.com|(123)484-3215|        WI|   53151|   Eugenio|    Hardy|2018-04-21T12:49:...|      trina|123459758|  Oconomowoc|         73|Example Bank|  1234845883|          WI|       Maple Lane|     53066|2018-04-18T16:51:...|253,Country Club ...|
|4210653310195948|   NewBerlin|United States| EHardy@example.com|(123)484-3215|        WI|   53151|   Eugenio|    Hardy|2018-04-21T12:49:...|      trina|123459758|   NewBerlin|         47|Example Bank|  1234873625|          WI|         Route 10|     53151|2018-04-18T16:51:...|253,Country Club ...|
|4210653310356919|      ElPaso|United States| WAyers@example.com|(123)434-2074|        TX|   79930|   Wilfred|    Ayers|2018-04-21T12:49:...|        may|123454431|    Victoria|        173|Example Bank|  1234337068|          TX|   Victoria Court|     77904|2018-04-18T16:51:...|  301,Madison Street|
|4210653310356919|      ElPaso|United States| WAyers@example.com|(123)484-2074|        TX|   79930|   Wilfred|    Ayers|2018-04-21T12:49:...|        may|123454431|     Rowlett|         56|Example Bank|  1234852596|          TX|State Street East|     75088|2018-04-18T16:51:...|  301,Madison Street|
|4210653310356919|      ElPaso|United States| WAyers@example.com|(123)424-2074|        TX|   79930|   Wilfred|    Ayers|2018-04-21T12:49:...|        may|123454431|      ElPaso|         52|Example Bank|  1234245465|          TX|    Fulton Street|     79930|2018-04-18T16:51:...|  301,Madison Street|
|4210653310356919|      ElPaso|United States| WAyers@example.com|(123)474-2074|        TX|   79930|   Wilfred|    Ayers|2018-04-21T12:49:...|        may|123454431|     Houston|         43|Example Bank|  1234755992|          TX|     Ashley Court|     77016|2018-04-18T16:51:...|  301,Madison Street|
|4210653310356919|      ElPaso|United States| WAyers@example.com|(123)434-2074|        TX|   79930|   Wilfred|    Ayers|2018-04-21T12:49:...|        may|123454431| LakeJackson|         26|Example Bank|  1234356462|          TX|  Chestnut Avenue|     77566|2018-04-18T16:51:...|  301,Madison Street|
+----------------+------------+-------------+-------------------+-------------+----------+--------+----------+---------+--------------------+-----------+---------+------------+-----------+------------+------------+------------+-----------------+----------+--------------------+--------------------+
only showing top 20 rows

In [7]:
#transforming the specified columns, from the mapping document, of the extracted branch df into new df
#just need to transform the branch_zip if the source value is null load default (99999) value else direct move
#and branch_phone change the format of phone number to (xxx)xxx-xxxx
tran_branch_spark = branch_spark.transform(tran_branch_zip)\
.transform(tran_phone_num, 'BRANCH_PHONE')

branch_spark.show()
tran_branch_spark.show()

+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
|      BRANCH_CITY|BRANCH_CODE| BRANCH_NAME|BRANCH_PHONE|BRANCH_STATE|      BRANCH_STREET|BRANCH_ZIP|        LAST_UPDATED|
+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
|        Lakeville|          1|Example Bank|  1234565276|          MN|       Bridle Court|     55044|2018-04-18T16:51:...|
|          Huntley|          2|Example Bank|  1234618993|          IL|  Washington Street|     60142|2018-04-18T16:51:...|
|SouthRichmondHill|          3|Example Bank|  1234985926|          NY|      Warren Street|     11419|2018-04-18T16:51:...|
|       Middleburg|          4|Example Bank|  1234663064|          FL|   Cleveland Street|     32068|2018-04-18T16:51:...|
|    KingOfPrussia|          5|Example Bank|  1234849701|          PA|        14th Street|     19406|2018-04-18T16:51:...|
|         Paterson|          7|Example Bank|  1234144890|          NJ|   Jefferson Street|      7501|2018-04-18T16:51:...|
|        Pittsford|          8|Example Bank|  1234678272|          NY|           B Street|     14534|2018-04-18T16:51:...|
|     Wethersfield|          9|Example Bank|  1234675219|          CT|    Jefferson Court|      6109|2018-04-18T16:51:...|
|     NorthOlmsted|         10|Example Bank|  1234145047|          OH|     Cambridge Road|     44070|2018-04-18T16:51:...|
|     Hillsborough|         11|Example Bank|  1234366354|          NJ|    3rd Street West|      8844|2018-04-18T16:51:...|
|   MadisonHeights|         12|Example Bank|  1234867175|          MI|          Mill Road|     48071|2018-04-18T16:51:...|
|           Oviedo|         14|Example Bank|  1234938460|          FL|  Washington Street|     32765|2018-04-18T16:51:...|
|    Mechanicsburg|         15|Example Bank|  1234462043|          PA|    Chestnut Street|     17050|2018-04-18T16:51:...|
|        Plainview|         16|Example Bank|  1234857525|          NY|       Monroe Drive|     11803|2018-04-18T16:51:...|
|          Paducah|         17|Example Bank|  1234546360|          KY|    Railroad Street|     42001|2018-04-18T16:51:...|
|     Harleysville|         18|Example Bank|  1234824455|          PA|Church Street South|     19438|2018-04-18T16:51:...|
|     SilverSpring|         19|Example Bank|  1234484380|          MD|        King Street|     20901|2018-04-18T16:51:...|
|       Burnsville|         20|Example Bank|  1234840138|          MN|   Canterbury Drive|     55337|2018-04-18T16:51:...|
|           Tacoma|         21|Example Bank|  1234362433|          WA|         2nd Avenue|     98444|2018-04-18T16:51:...|
|         Carlisle|         22|Example Bank|  1234922492|          PA| Front Street South|     17013|2018-04-18T16:51:...|
+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
only showing top 20 rows

+-----------------+-----------+------------+-------------+------------+-------------------+----------+--------------------+
|      BRANCH_CITY|BRANCH_CODE| BRANCH_NAME| BRANCH_PHONE|BRANCH_STATE|      BRANCH_STREET|BRANCH_ZIP|        LAST_UPDATED|
+-----------------+-----------+------------+-------------+------------+-------------------+----------+--------------------+
|        Lakeville|          1|Example Bank|(123)456-5276|          MN|       Bridle Court|     55044|2018-04-18T16:51:...|
|          Huntley|          2|Example Bank|(123)461-8993|          IL|  Washington Street|     60142|2018-04-18T16:51:...|
|SouthRichmondHill|          3|Example Bank|(123)498-5926|          NY|      Warren Street|     11419|2018-04-18T16:51:...|
|       Middleburg|          4|Example Bank|(123)466-3064|          FL|   Cleveland Street|     32068|2018-04-18T16:51:...|
|    KingOfPrussia|          5|Example Bank|(123)484-9701|          PA|        14th Street|     19406|2018-04-18T16:51:...|
|         Paterson|          7|Example Bank|(123)414-4890|          NJ|   Jefferson Street|      7501|2018-04-18T16:51:...|
|        Pittsford|          8|Example Bank|(123)467-8272|          NY|           B Street|     14534|2018-04-18T16:51:...|
|     Wethersfield|          9|Example Bank|(123)467-5219|          CT|    Jefferson Court|      6109|2018-04-18T16:51:...|
|     NorthOlmsted|         10|Example Bank|(123)414-5047|          OH|     Cambridge Road|     44070|2018-04-18T16:51:...|
|     Hillsborough|         11|Example Bank|(123)436-6354|          NJ|    3rd Street West|      8844|2018-04-18T16:51:...|
|   MadisonHeights|         12|Example Bank|(123)486-7175|          MI|          Mill Road|     48071|2018-04-18T16:51:...|
|           Oviedo|         14|Example Bank|(123)493-8460|          FL|  Washington Street|     32765|2018-04-18T16:51:...|
|    Mechanicsburg|         15|Example Bank|(123)446-2043|          PA|    Chestnut Street|     17050|2018-04-18T16:51:...|
|        Plainview|         16|Example Bank|(123)485-7525|          NY|       Monroe Drive|     11803|2018-04-18T16:51:...|
|          Paducah|         17|Example Bank|(123)454-6360|          KY|    Railroad Street|     42001|2018-04-18T16:51:...|
|     Harleysville|         18|Example Bank|(123)482-4455|          PA|Church Street South|     19438|2018-04-18T16:51:...|
|     SilverSpring|         19|Example Bank|(123)448-4380|          MD|        King Street|     20901|2018-04-18T16:51:...|
|       Burnsville|         20|Example Bank|(123)484-0138|          MN|   Canterbury Drive|     55337|2018-04-18T16:51:...|
|           Tacoma|         21|Example Bank|(123)436-2433|          WA|         2nd Avenue|     98444|2018-04-18T16:51:...|
|         Carlisle|         22|Example Bank|(123)492-2492|          PA| Front Street South|     17013|2018-04-18T16:51:...|
+-----------------+-----------+------------+-------------+------------+-------------------+----------+--------------------+
only showing top 20 rows

In [25]:
#have to set sparks configuration to legacy to stop getting error from parsing the to_date, throws null now if it isn't valid
# spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

In [8]:
#transforming the specified columns, from the mapping document, of the extracted credit df into new df
#just need to convert/concat the day, month, year columns into a TIMEID (YYYYMMDD)
#is there a way to use a timestamp and not just concat? is there an easier way?
tran_credit_spark = credit_spark.transform(tran_to_timeid, 'DAY', 'MONTH', 'YEAR')\
.drop('DAY','MONTH','YEAR')

credit_spark.show()
tran_credit_spark.show(100)

+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|        114|4210653349028689|123459988| 14|    2|             1|       Education|             78.9|2018|
|         35|4210653349028689|123459988| 20|    3|             2|   Entertainment|            14.24|2018|
|        160|4210653349028689|123459988|  8|    7|             3|         Grocery|             56.7|2018|
|        114|4210653349028689|123459988| 19|    4|             4|   Entertainment|            59.73|2018|
|         93|4210653349028689|123459988| 10|   10|             5|             Gas|             3.59|2018|
|        164|4210653349028689|123459988| 28|    5|             6|       Education|             6.89|2018|
|        119|4210653349028689|123459988| 19|    5|             7|   Entertainment|            43.39|2018|
|         23|4210653349028689|123459988|  8|    8|             8|             Gas|            95.39|2018|
|        166|4210653349028689|123459988| 18|    3|             9|   Entertainment|            93.26|2018|
|         83|4210653349028689|123459988|  3|    9|            10|           Bills|           100.38|2018|
|         52|4210653349028689|123459988| 21|    8|            11|             Gas|            98.75|2018|
|         17|4210653349028689|123459988| 24|   12|            12|             Gas|            42.71|2018|
|         80|4210653349028689|123459988|  3|    4|            13|         Grocery|            40.24|2018|
|         50|4210653349028689|123459988| 15|    4|            14|           Bills|            17.81|2018|
|        123|4210653349028689|123459988| 17|    5|            15|           Bills|             29.0|2018|
|          9|4210653349028689|123459988|  6|    7|            16|            Test|            70.63|2018|
|          3|4210653349028689|123459988| 28|    9|            17|            Test|            27.04|2018|
|        135|4210653349028689|123459988|  4|    7|            18|   Entertainment|            88.75|2018|
|        103|4210653349028689|123459988| 24|    4|            19|            Test|            77.02|2018|
|         78|4210653349028689|123459988|  8|   10|            20|           Bills|            34.34|2018|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
only showing top 20 rows

+-----------+----------------+---------+--------------+----------------+-----------------+----------+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|    TIMEID|
+-----------+----------------+---------+--------------+----------------+-----------------+----------+
|        114|4210653349028689|123459988|             1|       Education|             78.9|2018-02-14|
|         35|4210653349028689|123459988|             2|   Entertainment|            14.24|2018-03-20|
|        160|4210653349028689|123459988|             3|         Grocery|             56.7|2018-07-08|
|        114|4210653349028689|123459988|             4|   Entertainment|            59.73|2018-04-19|
|         93|4210653349028689|123459988|             5|             Gas|             3.59|2018-10-10|
|        164|4210653349028689|123459988|             6|       Education|             6.89|2018-05-28|
|        119|4210653349028689|123459988|             7|   Entertainment|            43.39|2018-05-19|
|         23|4210653349028689|123459988|             8|             Gas|            95.39|2018-08-08|
|        166|4210653349028689|123459988|             9|   Entertainment|            93.26|2018-03-18|
|         83|4210653349028689|123459988|            10|           Bills|           100.38|2018-09-03|
|         52|4210653349028689|123459988|            11|             Gas|            98.75|2018-08-21|
|         17|4210653349028689|123459988|            12|             Gas|            42.71|2018-12-24|
|         80|4210653349028689|123459988|            13|         Grocery|            40.24|2018-04-03|
|         50|4210653349028689|123459988|            14|           Bills|            17.81|2018-04-15|
|        123|4210653349028689|123459988|            15|           Bills|             29.0|2018-05-17|
|          9|4210653349028689|123459988|            16|            Test|            70.63|2018-07-06|
|          3|4210653349028689|123459988|            17|            Test|            27.04|2018-09-28|
|        135|4210653349028689|123459988|            18|   Entertainment|            88.75|2018-07-04|
|        103|4210653349028689|123459988|            19|            Test|            77.02|2018-04-24|
|         78|4210653349028689|123459988|            20|           Bills|            34.34|2018-10-08|
|        156|4210653349028689|123459988|            21|       Education|            10.56|2018-10-23|
|         20|4210653349028689|123459988|            22|       Education|              6.7|2018-08-13|
|         44|4210653349028689|123459988|            23|           Bills|             7.97|2018-03-17|
|         54|4210653349028689|123459988|            24|            Test|            32.81|2018-05-11|
|        119|4210653349028689|123459988|            25|   Entertainment|            35.02|2018-03-03|
|        121|4210653349028689|123459988|            26|            Test|             86.3|2018-05-11|
|         19|4210653349028689|123459988|            27|            Test|            82.05|2018-12-14|
|         43|4210653349028689|123459988|            28|      Healthcare|            98.78|2018-08-06|
|          7|4210653349028689|123459988|            29|         Grocery|             9.49|2018-10-14|
|         29|4210653349028689|123459988|            30|             Gas|            17.03|2018-12-04|
|        123|4210653349028689|123459988|            31|         Grocery|            54.49|2018-10-24|
|         66|4210653349028689|123459988|            32|       Education|            13.34|2018-12-12|
|        117|4210653349028689|123459988|            33|      Healthcare|            24.37|2018-10-20|
|         72|4210653349028689|123459988|            34|   Entertainment|            53.03|2018-11-09|
|         95|4210653349028689|123459988|            35|            Test|            96.55|2018-09-09|
|         32|4210653349028689|123459988|            36|       Education|            62.82|2018-09-28|
|        104|4210653349028689|123459988|            37|       Education|            73.99|2018-04-12|
|        158|4210653349028689|123459988|            38|       Education|            63.08|2018-09-06|
|         70|4210653349028689|123459988|            39|   Entertainment|            46.84|2018-10-05|
|         69|4210653349028689|123459988|            40|   Entertainment|            96.29|2018-01-16|
|         26|4210653349028689|123459988|            41|       Education|            25.01|2018-03-07|
|         27|4210653349028689|123459988|            42|           Bills|            30.95|2018-11-20|
|         79|4210653349028689|123459988|            43|             Gas|            83.33|2018-06-04|
|         36|4210653349028689|123459988|            44|      Healthcare|            79.91|2018-11-13|
|        124|4210653349028689|123459988|            45|      Healthcare|            20.81|2018-09-08|
|        104|4210653349028689|123459988|            46|           Bills|             4.95|2018-01-21|
|         50|4210653349028689|123459988|            47|         Grocery|            41.62|2018-04-28|
|         20|4210653349028689|123459988|            48|       Education|             3.79|2018-05-12|
|         69|4210653349028689|123459988|            49|      Healthcare|            26.34|2018-08-26|
|         76|4210653349028689|123459988|            50|   Entertainment|            53.49|2018-01-02|
|         93|4210653349028689|123459988|            51|             Gas|            73.45|2018-03-04|
|         80|4210653349028689|123459988|            52|   Entertainment|            15.89|2018-12-09|
|         43|4210653349028689|123459988|            53|         Grocery|            16.99|2018-04-14|
|         59|4210653349028689|123459988|            54|      Healthcare|            31.87|2018-02-03|
|        158|4210653349028689|123459988|            55|      Healthcare|            30.58|2018-12-21|
|         27|4210653349028689|123459988|            56|         Grocery|             4.19|2018-01-11|
|        126|4210653349028689|123459988|            57|           Bills|             1.32|2018-11-27|
|         59|4210653349028689|123459988|            58|           Bills|            13.72|2018-08-09|
|        156|4210653349028689|123459988|            59|      Healthcare|            45.55|2018-03-16|
|         74|4210653349028689|123459988|            60|   Entertainment|            72.17|2018-06-24|
|         70|4210653349028689|123459988|            61|             Gas|            84.13|2018-09-22|
|        123|4210653349028689|123459988|            62|            Test|            51.91|2018-03-20|
|        121|4210653349028689|123459988|            63|       Education|            43.08|2018-12-22|
|         60|4210653349028689|123459988|            64|      Healthcare|            89.81|2018-09-18|
|         31|4210653349028689|123459988|            65|         Grocery|            56.84|2018-01-25|
|         63|4210653349028689|123459988|            66|       Education|            82.11|2018-08-11|
|         63|4210653349028689|123459988|            67|             Gas|            35.29|2018-10-25|
|         27|4210653349028689|123459988|            68|   Entertainment|            46.53|2018-02-15|
|         31|4210653349028689|123459988|            69|            Test|             93.2|2018-06-07|
|        139|4210653349028689|123459988|            70|         Grocery|             61.4|2018-04-27|
|          9|4210653349028689|123459988|            71|           Bills|            87.58|2018-06-12|
|         48|4210653349028689|123459988|            72|       Education|             8.08|2018-07-17|
|        145|4210653349028689|123459988|            73|   Entertainment|            92.84|2018-03-07|
|        144|4210653349028689|123459988|            74|           Bills|            45.93|2018-03-27|
|         42|4210653349028689|123459988|            75|             Gas|            38.07|2018-12-18|
|         49|4210653349028689|123459988|            76|             Gas|            51.93|2018-03-16|
|          1|4210653349028689|123459988|            77|           Bills|            53.03|2018-11-28|
|         73|4210653349028689|123459988|            78|       Education|            31.89|2018-04-14|
|         53|4210653349028689|123459988|            79|             Gas|            66.48|2018-06-13|
|         43|4210653349028689|123459988|            80|       Education|            92.47|2018-10-25|
|         99|4210653349028689|123459988|            81|   Entertainment|             81.4|2018-03-15|
|         89|4210653349028689|123459988|            82|      Healthcare|            97.98|2018-02-24|
|         17|4210653349028689|123459988|            83|           Bills|             55.4|2018-03-04|
|         79|4210653349028689|123459988|            84|           Bills|            70.25|2018-09-25|
|         32|4210653349028689|123459988|            85|      Healthcare|             60.9|2018-11-11|
|        109|4210653349028689|123459988|            86|           Bills|             7.62|2018-11-05|
|        175|4210653349028689|123459988|            87|            Test|            12.43|2018-02-06|
|        175|4210653349028689|123459988|            88|            Test|            17.12|2018-08-25|
|        118|4210653349028689|123459988|            89|         Grocery|            57.52|2018-07-12|
|         11|4210653349028689|123459988|            90|       Education|             91.2|2018-02-02|
|         59|4210653349028689|123459988|            91|   Entertainment|            97.64|2018-09-01|
|         66|4210653349028689|123459988|            92|       Education|            58.25|2018-08-03|
|         99|4210653349028689|123459988|            93|             Gas|            41.06|2018-07-02|
|         50|4210653349028689|123459988|            94|           Bills|            72.72|2018-07-09|
|        117|4210653399308769|123459978|            95|   Entertainment|            77.17|2018-07-08|
|        121|4210653399308769|123459978|            96|             Gas|            49.14|2018-10-21|
|        117|4210653399308769|123459978|            97|   Entertainment|             81.6|2018-07-13|
|          9|4210653399308769|123459978|            98|   Entertainment|            22.75|2018-12-06|
|         59|4210653399308769|123459978|            99|         Grocery|            56.52|2018-03-01|
|        117|4210653399308769|123459978|           100|       Education|            24.05|2018-08-17|
+-----------+----------------+---------+--------------+----------------+-----------------+----------+
only showing top 100 rows

In [9]:
#create and populate the requisite tables in SQL db creditcard_capstone
tran_cust_spark.write.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",
                                     user="root",
                                     password="password",
                                     url="jdbc:mysql://localhost:3306/creditcard_capstone",
                                     dbtable="CDW_SAPP_CUSTOMER ", 
                                     ).mode('overwrite').save()

tran_branch_spark.write.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",
                                     user="root",
                                     password="password",
                                     url="jdbc:mysql://localhost:3306/creditcard_capstone",
                                     dbtable="CDW_SAPP_BRANCH", 
                                     ).mode('overwrite').save()

tran_credit_spark.write.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",
                                     user="root",
                                     password="password",
                                     url="jdbc:mysql://localhost:3306/creditcard_capstone",
                                     dbtable="CDW_SAPP_CREDIT_CARD", 
                                     ).mode('overwrite').save()

Py4JJavaError: An error occurred while calling o121.save.
: java.sql.SQLSyntaxErrorException: Duplicate column name 'LAST_UPDATED'
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:120)
	at com.mysql.cj.jdbc.exceptions.SQLExceptionsMapping.translateException(SQLExceptionsMapping.java:122)
	at com.mysql.cj.jdbc.StatementImpl.executeUpdateInternal(StatementImpl.java:1333)
	at com.mysql.cj.jdbc.StatementImpl.executeLargeUpdate(StatementImpl.java:2106)
	at com.mysql.cj.jdbc.StatementImpl.executeUpdate(StatementImpl.java:1243)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.executeStatement(JdbcUtils.scala:1083)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.createTable(JdbcUtils.scala:913)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:64)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:47)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:118)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:195)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:103)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:827)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:65)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:94)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:512)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:104)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:512)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:488)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:81)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:79)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:133)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:856)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:387)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:360)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:247)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:578)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1623)

In [21]:
# Read the data from the MySQL table
cap_spark = spark.read.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",
                                             user="root",
                                             password="password",
                                             url="jdbc:mysql://localhost:3306/creditcard_capstone",
                                             dbtable="CDW_SAPP_BRANCH"
                                             ).load()

# Display the contents of the DataFrame
cap_spark.show()

+-----------------+-----------+------------+-------------+------------+-------------------+----------+--------------------+
|      BRANCH_CITY|BRANCH_CODE| BRANCH_NAME| BRANCH_PHONE|BRANCH_STATE|      BRANCH_STREET|BRANCH_ZIP|        LAST_UPDATED|
+-----------------+-----------+------------+-------------+------------+-------------------+----------+--------------------+
|        Lakeville|          1|Example Bank|(123)456-5276|          MN|       Bridle Court|     55044|2018-04-18T16:51:...|
|          Huntley|          2|Example Bank|(123)461-8993|          IL|  Washington Street|     60142|2018-04-18T16:51:...|
|SouthRichmondHill|          3|Example Bank|(123)498-5926|          NY|      Warren Street|     11419|2018-04-18T16:51:...|
|       Middleburg|          4|Example Bank|(123)466-3064|          FL|   Cleveland Street|     32068|2018-04-18T16:51:...|
|    KingOfPrussia|          5|Example Bank|(123)484-9701|          PA|        14th Street|     19406|2018-04-18T16:51:...|
|         Paterson|          7|Example Bank|(123)414-4890|          NJ|   Jefferson Street|      7501|2018-04-18T16:51:...|
|        Pittsford|          8|Example Bank|(123)467-8272|          NY|           B Street|     14534|2018-04-18T16:51:...|
|     Wethersfield|          9|Example Bank|(123)467-5219|          CT|    Jefferson Court|      6109|2018-04-18T16:51:...|
|     NorthOlmsted|         10|Example Bank|(123)414-5047|          OH|     Cambridge Road|     44070|2018-04-18T16:51:...|
|     Hillsborough|         11|Example Bank|(123)436-6354|          NJ|    3rd Street West|      8844|2018-04-18T16:51:...|
|   MadisonHeights|         12|Example Bank|(123)486-7175|          MI|          Mill Road|     48071|2018-04-18T16:51:...|
|           Oviedo|         14|Example Bank|(123)493-8460|          FL|  Washington Street|     32765|2018-04-18T16:51:...|
|    Mechanicsburg|         15|Example Bank|(123)446-2043|          PA|    Chestnut Street|     17050|2018-04-18T16:51:...|
|        Plainview|         16|Example Bank|(123)485-7525|          NY|       Monroe Drive|     11803|2018-04-18T16:51:...|
|          Paducah|         17|Example Bank|(123)454-6360|          KY|    Railroad Street|     42001|2018-04-18T16:51:...|
|     Harleysville|         18|Example Bank|(123)482-4455|          PA|Church Street South|     19438|2018-04-18T16:51:...|
|     SilverSpring|         19|Example Bank|(123)448-4380|          MD|        King Street|     20901|2018-04-18T16:51:...|
|       Burnsville|         20|Example Bank|(123)484-0138|          MN|   Canterbury Drive|     55337|2018-04-18T16:51:...|
|           Tacoma|         21|Example Bank|(123)436-2433|          WA|         2nd Avenue|     98444|2018-04-18T16:51:...|
|         Carlisle|         22|Example Bank|(123)492-2492|          PA| Front Street South|     17013|2018-04-18T16:51:...|
+-----------------+-----------+------------+-------------+------------+-------------------+----------+--------------------+
only showing top 20 rows

In [16]:
tran_credit_spark.select('transaction_type').distinct().collect()

[Row(transaction_type='Education'),
 Row(transaction_type='Entertainment'),
 Row(transaction_type='Healthcare'),
 Row(transaction_type='Grocery'),
 Row(transaction_type='Test'),
 Row(transaction_type='Gas'),
 Row(transaction_type='Bills')]

Terminal Application

Let's define a simple terminal app that we can make in this notebook. Greeter will:

Always display a title bar at the top of the screen, showing the name of the app that is running.
Offer you three choices:
    Enter a name.
        If the program knows that name, it will print a message saying something like "Hello, old friend."
        If the program does not know that name, it will print a message saying something like, "It's nice to meet you. I will remember you."
            The next time the program hears this name, it will greet the person as an old friend.
    See a list of everyone that is known.
    Quit.
The program will remember people, even after it closes.
The program may list the number of known people in the title bar.


Now we will go over a few things we need to know in order to build this app, and then we will build it.

In [1]:
# print("Welcome to Mike Chadwick's Final Project 350!")
# #from time import sleep
# sleep(3)
# #way to make the program understand if its windows or linux? to make it crossplatform compatible?
# os.system('cls') #'clear' on linux machines


# Greeter is a terminal application that greets old friends warmly,
#   and remembers new friends.


### FUNCTIONS ###

def display_title_bar():
    # Clears the terminal screen, and displays a title bar.
    os.system('cls')
              
    print("\t**********************************************")
    print("\t***  Greeter - Hello old and new friends!  ***")
    print("\t**********************************************")

def get_user_choice(choice):
    #1-3 are TRANSACTION DETAILS MODULE
    #next option to order by day and descending order(maybe make it optional for ascending as well?)
    print("[1] Display transactions by customers given zip code and date?.")
    
    #next level give them the choice of options education, entertainment, healthcare, grocery, test,
    #gas, bills
    print("[2] Display the number and total values of tranactions of a given TYPE.")
    print("[3] Display the number and total values of transactions for branches of a given STATE.")
    
    
    #4-7 are CUSTOMER DETAILS
    print("[4] Check account details of an existing customer.")
    print("[5] Modify the details of an existing customer's account.")
    print("[6] Generate a monthly bill for a credit card number, given the month and year.")
    #order by year, month, day in descending order(add ascending?)
    print("[7] Display the transactions of a customer between two given dates.")
    
    
    # print("[8] Plot which transaction type has a high rate of transactions.")
    # print("[9] Plot which state has a high number of customers.")
    # print("[10] Plotthe sum of all transactions for the top 10 customers, and which customer 
    # has the higherst transaction amount. HINT USE CUST_SSN.")
    
    print("[q] Quit.")
    
    return input("What would you like to do? ")

#1st choice
def disp_tran_by_cust_zip(zip, date):
    #check zip leng/structure(5 digits)
    #check date length/structure etc
    print()

#2nd choice
def disp_tran_total_by_type(t_type):
    print()

#3rd choice    
def disp_tran_total_by_branch_state(state):
    print()

#4th choice
def check_cust_exist(cust_ssn):
    print()

#5th choice 
def modify_cust_account():
    #check cust numb(cust_ssn) length(9 digits) etc
    print()

#6th choice
def gen_monthly_bill_by_card_number(card, start_date, end_date):
    print()

#7th choice
def disp_tran_by_cust_between_given_dates():
    print()

#8th choice
# def disp_tran_by_cust_zip():
#     print()

#check case function
#can you make a loop to keep prompting the user until the desired input is met?
#can you make it one loop in a single function to check every case passed to it and not just type 
#specific (ie need different function for date, zip)
zip_pattern = r'\d{5}$'
date_pattern = r''
ssn_pattern = r'^\d{9}$'
file_type_pattern = r''
credit_card_pattern = r'^\d{16}$'
state_pattern = r'^[A-Za-z]{2}$'

def check_case(user_input, pattern):
    # return len(zip) == 5 and zip.isdigit()
    while not user_input.match(pattern):
            user_input = input("Please enter a correctly fomated value: ")
    return user_input

### MAIN PROGRAM ###

# Set up a loop where users can choose what they'd like to do.
choice = ''
display_title_bar()
while choice != 'q':    

    #shows menu options then returns the user's choice
    choice = get_user_choice()
     
    # Respond to the user's choice.
    if choice == '1':
        zip = input("Enter the 5 digit desired zipcode: ")
        check_case(zip, zip_pattern)
        date = input("Enter desired date (YYYY-MM-DD): ")
        check_case(date, date_pattern)
        disp_tran_by_cust_zip(zip, date)
    elif choice == '2':
        t_type = input("Enter desired file type: ")
        check_case(t_type, file_type_pattern)
        disp_tran_total_by_type(t_type)
    elif choice == '3':
        state = input("Enter desired state of query: ")
        check_case(state, state_pattern)
        disp_tran_total_by_branch_state(state)
    elif choice == '4':
        cust_ssn = input("Enter in customer's SSN: ")
        check_case(cust_ssn, ssn_pattern)
        check_cust_exist(cust_ssn, ssn_pattern)
    elif choice == '5':
        cust_ssn = input("Enter customer's SSN for the acconut account you wish to modify: ")
        check_case(cust_ssn, ssn_pattern)
        modify_cust_account(cust_ssn)
    elif choice == '6':
        card = input("Enter in credit card number: ")
        check_case(card, credit_card_pattern)
        date = input("Enter in start date (YYYY-MM-DD): ")
        check_case(date, date_pattern)
        date2 = input("Enter in end date (YYYY-MM-DD): ")
        check_case(date2, date_pattern)
        gen_monthly_bill_by_card_number(card, date, date2)
    elif choice == '7':
        cust_ssn = input("Enter in customer's SSN number: ")
        check_case(cust_ssn, ssn_pattern)
        date = input("Enter in start date (YYYY-MM-DD): ")
        check_case(date, date_pattern)
        date2 = input("Enter in end date (YYYY-MM-DD): ")
        check_case(date2, date_pattern)
        disp_tran_by_cust_between_given_dates(cust_ssn, date, date2)
    # elif choice == '8':
    #     def disp_tran_by_cust_zip()
    # elif choice == '9':
        # print("\nI can't wait to meet this person!\n")
    elif choice == 'q':
        print("\nThanks for playing. Bye.")
    else:
        print("\nI didn't understand that choice.\n")

NameError: name 'os' is not defined

cdw_sapp_custmer.json (fixed the customer typo)--> CDW_SAPP_CUSTOMER is target tapple, target field names(columns) are the same

SSN(int): dm

FIRST_NAME(varchar): convert the name to title case

MIDDLE_NAME(varchar): convert the name to lower case

LAST_NAME(varchar): convert the name to title case

CREDIT_CARD_NO(varchar): dm

STREET_NAME,APT_NO(varchar): concatenate aprtment no and street name of customer's residence with comma as a serpator

CUST_CITY(varchar): dm

CUST_STATE(varchar): dm

CUST_COUNTRY(varchar): dm

CUST_ZIP(int): dm

CUST_PHONE(varchar): change the format of phone number to (XXX)XXX-XXXX

CUST_EMAIL(varchar): dm

LAST_UPDATED(timestamp): dm